@import url("/lib/styles/defaults.css");
@import url("/lib/styles/fonts.css");
@import url("/lib/styles/lightDark.css");

body {
  font-family: "LINESeedSans";
  font-weight: 300;
  font-size: x-large;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.button {
  border-radius: 1000rem;
  background-color: yellow;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: bold;
  font-size: medium;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

s {
  color: var(--muted)
}

#header {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

#content {
  padding: 1rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  max-width: 40rem;
  margin-bottom: 2rem;
}

.waver {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate(0.0deg); }
  10% { transform: rotate(14.0deg); }
  20% { transform: rotate(-8.0deg); }
  30% { transform: rotate(14.0deg); }
  40% { transform: rotate(-4.0deg); }
  50% { transform: rotate(10.0deg); }
  60% { transform: rotate(0.0deg); }
  100% { transform: rotate(0.0deg); }
}

#intro h1 {
  font-size: 4rem;
  line-height: 120%;
}

#cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 32rem;
  flex-grow: 1;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--neutral);
  border-radius: 1rem;
  text-align: center;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  transition: transform 0.1s ease-in-out;
}

.card:hover {
  transform: rotate(-2deg);
}

.card .carousel {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  overflow-x: scroll;
  border-radius: 0.5rem;
  aspect-ratio: 1.25;
}

.card .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card h1 {
  font-size: xx-large;
}

.card img {
  flex-grow: 1;
  width: 100%;
  height: auto;
}

#share {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; 
}

#share h1 {
  text-align: center;
}

#share video {
  max-height: 8rem;
  width: 100%;
}

.input {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 1rem;
  background-color: var(--neutral);
  width: fit-content;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--foreground); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 3.5s steps(18, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--foreground) }
}

#footer {
  padding: 2rem;
}

#footer ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  list-style: none;
}

a {
  color: var(--muted);
  text-decoration: none;
}